<template>
  <main class="container">
    <section class="hero">
      <div class="hero-body">
        <h1 class="title">Let's get started!</h1>
      </div>
    </section>

    <p class="content">
      You'll need to create an OAuth client via the
      <a href="https://developers.monzo.com/apps/home" target="_blank"
        >Monzo developers dashboard</a
      >
    </p>
    <form @submit.prevent="handleSubmit">
      <label>
        Client ID
        <input :value="clientId" name="clientId" />
      </label>
      <label>
        Client secret
        <input :value="clientSecret" name="clientSecret" />
      </label>

      <button class="button is-primary">Log in</button>
    </form>
  </main>
</template>

<script setup>
import { inject, ref } from "vue";

const monzoApiClient = inject("monzoApiClient");
const clientId = ref(monzoApiClient.clientId);
const clientSecret = ref(monzoApiClient.clientSecret);

const handleSubmit = (e) => {
  const { clientId, clientSecret } = e.target.elements;
  monzoApiClient.clientId = clientId.value;
  monzoApiClient.clientSecret = clientSecret.value;
  window.location = monzoApiClient.authUrl();
};
</script>
