<template>
  <div>
    <p v-if="error">
      {{ error }}
    </p>
    <template v-else>
      <p>Please approve access to your account via your Monzo app.</p>
      <button :disabled="isFetchInProgress" @click="() => onConfirm()">
        Done
      </button>
    </template>
  </div>
</template>

<script setup>
import { useRoute, useRouter } from "vue-router";
import { inject, ref } from "vue";
import { parseMetadata } from "@/lib/transaction";
/**
 * This component handles the OAuth redirect from Monzo
 *
 * 1. Check code query param is set
 * 2. Verify state query param
 * 3. Do auth code exchange via Vuex store
 * 4. Show user a message asking them to allow access to their data in Monzo app
 * 5. When user confirms they've allowed access, fetch account & transactions
 * 6. Push user to transaction view (home)
 */

const router = useRouter();
const route = useRoute();
const monzoApiClient = inject("monzoApiClient");
const db = inject("db");
const isFetchInProgress = ref(false);
const error = ref(null);

const { code, state } = route.query;

if (code) {
  // User was sent here by Monzo via email login link
  if (!state || state !== monzoApiClient.oauthState) {
    // Protect against CSRF attacks
    // https://docs.monzo.com/#acquire-an-access-token
    error.value = "Invalid auth state";
  }

  await monzoApiClient.getAccessToken({ code });
}

const onConfirm = async () => {
  isFetchInProgress.value = true;

  try {
    const accounts = await monzoApiClient.getAccounts();
    await db.accounts.clear();
    await db.accounts.bulkPut(accounts);

    await db.transactions.clear();
    accounts.forEach(async (account) => {
      const txs = await monzoApiClient.getTransactions(account.id, 0);
      await db.transactions.bulkPut(txs.map(parseMetadata));
    });

    router.push({ name: "home" });
  } catch (error) {
    throw error;
    // switch (error.response.status) {
    //   case 403:
    //     // 403 is the expected response if user hasn't yet authorised via the app
    //     return false;
    //   case 401:
    //     throw error;
    // }
  }
};
</script>
