<template>
  <div class="wrapper">
    <div v-if="$store.getters.isDemoMode" class="demo-banner">
      You're viewing dummy data, log in to see your transactions.
      <router-link to="/auth" class="button ml-4">Log in</router-link>
    </div>
    <main class="home">
      <template v-if="false">
        <p>
          <button @click="logOut">Log out</button>
        </p>

        <h1 v-if="selectedAccount">
          Transactions for {{ selectedAccount.id }}
        </h1>

        <button @click="getAllTransactions">Refresh transactions</button>

        <label>
          Show hidden:
          <input type="checkbox" v-model="showHidden" />
        </label>

        <p>{{ filterValidationStatus }}</p>

        <form
          v-if="true"
          @submit.prevent="handleFilterSave"
          ref="userFilterForm"
        >
          <textarea
            class="textarea"
            name="filter"
            cols="80"
            rows="20"
            @keydown.ctrl.enter.prevent="handleFilterSave"
          ></textarea>
          <button class="button is-primary">Test</button>
        </form>
      </template>

      <div class="is-flex two-pane">
        <div class="filter-wrapper has-right-border p-2">
          <TransactionFilters class="filters" />
        </div>
        <div class="is-flex-grow-1">
          <DynamicScroller
            :items="transactionsWithMonths"
            :min-item-size="80"
            class="scroller"
            key-field="id"
            v-slot="{ item, index, active }"
          >
            <DynamicScrollerItem
              :item="item"
              :active="active"
              :data-index="index"
            >
              <h2 v-if="item.type === 'date'" class="date-heading">
                {{ item.date }}
              </h2>
              <SingleTransaction
                v-else
                :tx="item"
                :is-hidden="isHidden(item.id)"
                @toggleHidden="toggleHidden"
                :key="item.id"
              />
            </DynamicScrollerItem>
          </DynamicScroller>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { formatDistance } from "date-fns/fp";
import SingleTransaction from "@/components/SingleTransaction.vue";
import TransactionFilters from "@/components/TransactionFilters.vue";
import * as t from "@/lib/transaction";
import * as AUTH_STATUS from "@/lib/auth-status";
import { transactions as demoTransactions } from "@/lib/test-data";

const demoTx = {
  id: "123",
  amount: 1000,
};

function validateUserFilter(text) {
  const userFilterFn = new Function("tx", `return ${text}`);
  try {
    const out = userFilterFn(demoTx);
    if (typeof out === "boolean") {
      return true;
    } else {
      return {
        message: "wrong type: " + typeof out,
      };
    }
  } catch (e) {
    // invalid
    return { message: "failed to execute: " + e.toString() };
  }
}

export default {
  name: "HomeView",
  inject: ["monzoApiClient", "db"],
  components: { TransactionFilters, SingleTransaction },
  data() {
    return {
      accessTokenExpired: false,
      showHidden: false,
      selectedAccount: {},
      selectedCategories: [],
      filterFn: null,
      filterValidationStatus: null,
      txs: [],
      hiddenTransactionIds: new Set(),
    };
  },
  computed: {
    contributions() {
      return t.contributions(this.txs);
    },
    transactionsWithMonths() {
      return Object.entries(
        t.groupByDate(t.withContributions(this.txs, this.contributions))
      ).reduce(
        (items, [date, txs]) =>
          items.concat([{ type: "date", date, id: date }, ...txs]),
        []
      );
    },
    AUTH_STATUS() {
      return AUTH_STATUS;
    },
    validationMessage() {
      const valid = validateUserFilter(this.filterFn);
      return valid === true ? "Valid!" : valid.message;
    },
  },
  async created() {
    this.selectedAccount = await db.accounts.toCollection().first();
    const txs = await db.transactions.toCollection();

    if ((await txs.count()) > 0) {
      this.txs = await txs.reverse().sortBy("created");
    } else {
      this.txs = demoTransactions(1000);
    }
  },
  methods: {
    isHidden(txId) {
      return this.hiddenTransactionIds.has(txId);
    },
    toggleHidden(txId) {
      if (this.isHidden(txId)) {
        this.hiddenTransactionIds.add(txId);
      } else {
        this.hiddenTransactionIds.delete(txId);
      }
    },
    hasContributions(tx) {
      return !!tx.$contributions.length;
    },
    logOut() {
      this.monzoApiClient.clear();
      this.$router.push({ name: "auth" });
    },
    async getAllTransactions() {
      const accounts = await this.monzoApiClient.getAccounts();
      await this.db.accounts.bulkPut(accounts);

      accounts.forEach(async (account) => {
        const txs = await this.monzoApiClient.getTransactions(account.id, 0);
        await db.transactions.bulkPut(txs.map(parseMetadata));
      });
    },
    handleFilterSave() {
      const form = this.$refs["userFilterForm"];
      const userFilter = form.elements.namedItem("filter").value;
      const valid = validateUserFilter(userFilter);
      this.filterValidationStatus = valid === true ? "Valid!" : valid.message;

      if (valid === true) {
        // add to store
        this.$store.commit("APPEND_USER_FILTER", {
          name: "test",
          body: userFilter,
        });
      }
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/theme.scss";

@mixin reset-button {
  background: none;
  border: none;
  color: inherit;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.demo-banner {
  background: $green;
  padding: $size-6;
  color: $white-bis;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tx {
  padding: calc($gap/2);
  border-left: solid 4px transparent;
}

.interactive--subtle {
  @include reset-button;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.txs {
  display: block;
}

.home {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.two-pane {
  height: 100%;
}

.scroller {
  height: 100%;
}

.date-heading {
  margin-left: $gap;
}

.has-right-border {
  border-right: solid 1px $black;
}

.filter-wrapper {
  overflow-y: scroll;
}
</style>
