<template>
  <main>
    <h1>Monthly spend</h1>
    <ul>
      <li v-for="(amount, month) in months" :key="month">
        {{ month }} : {{ formatAmount(amount) }}
      </li>
    </ul>
  </main>
</template>

<script>
import * as R from "ramda";
import * as t from "@/lib/transaction";

function flattenContributions(tx) {
  return [tx, ...tx.$contributions];
}

export default {
  name: "MonthlySpend",
  data() {
    return {
      txs: [],
    };
  },
  computed: {
    months() {
      return R.map(
        R.compose(
          R.sum,
          R.map((tx) => t.totalAmount(flattenContributions(tx)))
        ),
        t.groupByMonth(t.withContributions(this.txs, t.contributions(this.txs)))
      );
    },
  },
  async created() {
    this.selectedAccount = await db.accounts.toCollection().first();
    this.txs = await db.transactions
      .where({ account_id: this.selectedAccount.id })
      .reverse()
      .sortBy("created");
  },
  methods: {
    formatAmount: t.formatAmount,
  },
};
</script>

<style></style>
