<template>
  <div>
    <div v-if="targetTx">
      {{ title(targetTx) }} {{ formatAmount(targetTx.amount) }}
    </div>
    <button class="button is-primary" @click.stop="saveUpdatedContributions">
      Save
    </button>
    <TransactionSearch @txSelected="setTargetTx" />
  </div>
</template>

<script>
import TransactionSearch from "@/components/TransactionSearch.vue";
import { title, parseMetadata } from "@/lib/transaction";
import { formatAmount } from "@/lib/money";

export default {
  name: "ContributionEditor",
  inject: ["monzoApiClient", "db"],
  components: {
    TransactionSearch,
  },
  props: {
    tx: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      updatedContribs: [...this.tx.$contributions],
      targetTx: null,
    };
  },
  methods: {
    title,
    formatAmount,
    addToContribs(tx) {
      this.updatedContribs.push(tx);
    },
    async saveUpdatedContributions() {
      const metadata = {
        $contributionTo: JSON.stringify([this.targetTx.id]),
      };

      const response = await this.monzoApiClient.patchTransaction(
        this.tx.id,
        metadata
      );
      const updatedTx = response.transaction;
      updatedTx.metadata = parseMetadata(updatedTx.metadata);
      await db.transactions.put(updatedTx);
    },
    setTargetTx(tx) {
      this.targetTx = tx;
    },
  },
};
</script>

<style></style>
