<template>
  <div style="display: flex; flex-direction: column">
    <Combobox v-model="property">
      <ComboboxInput @change="propertyQuery = $event.target.value" />
      <ComboboxOptions>
        <ComboboxOption
          v-for="key in filteredProperties"
          :key="key"
          :value="key"
        >
          {{ key }}
        </ComboboxOption>
      </ComboboxOptions>
    </Combobox>
    <label>
      Property value
      <input name="amountTo" v-model="value" />
    </label>
    <button @click="select">Apply</button>
  </div>
</template>

<script>
import * as R from "ramda";
import {
  Combobox,
  ComboboxInput,
  ComboboxOptions,
  ComboboxOption,
} from "@headlessui/vue";

export default {
  components: {
    Combobox,
    ComboboxInput,
    ComboboxOptions,
    ComboboxOption,
  },
  data() {
    return {
      propertyQuery: "",
      property: [],
      value: "",
    };
  },
  computed: {
    filteredProperties() {
      return Object.keys(
        this.$store.getters[this.$store.state.mode + "/properties"]
      ).filter((p) => p.startsWith(this.propertyQuery));
    },
  },
  methods: {
    select() {
      this.$emit("select", {
        name: this.property ? this.property[0] : null,
        value: this.value || null,
      });
    },
  },
};
</script>

<style></style>
