<template>
  <div class="tx" @click="logToConsole(tx)">
    <figure class="image is-48x48">
      <img
        v-if="tx.merchant && tx.merchant.logo"
        class="merchant-logo"
        v-lazy="tx.merchant.logo"
        :alt="`${tx.merchant.name} logo`"
      />
    </figure>
    <div class="body">
      <strong>{{ title(tx) }}</strong>
      <p v-if="tx.metadata.notes">{{ tx.metadata.notes }}</p>

      <div
        v-for="contr in tx.$contributions"
        :key="`contribution-${tx.id}-${contr.id}`"
        class="contribution"
      >
        {{ contr.description }}
        {{ formatAmount(contr.amount) }}
      </div>
    </div>
    <div class="amount" :title="formatAmount(tx.amount)">
      <strong
        v-if="Math.abs(totalAmount([tx, ...tx.$contributions])) > 10000"
        >{{ formatAmount(totalAmount([tx, ...tx.$contributions])) }}</strong
      >
      <template v-else>
        {{ formatAmount(totalAmount([tx, ...tx.$contributions])) }}
      </template>
    </div>
    <button @click="$emit('toggleHidden', tx.id)" class="interactive--subtle">
      {{ isHidden ? "show" : "hide" }}
    </button>
    <template v-if="false">
      <button
        @click="showContributionEditor = !showContributionEditor"
        class="button"
      >
        +
      </button>
      <ContributionEditor v-if="showContributionEditor" :tx="tx" />
    </template>
  </div>
</template>
<script>
import * as t from "@/lib/transaction";
import { formatAmount } from "@/lib/money";
import ContributionEditor from "@/components/ContributionEditor.vue";

export default {
  name: "SingleTransaction",
  components: { ContributionEditor },
  props: {
    tx: { required: true, type: Object },
    isHidden: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showContributionEditor: false,
    };
  },
  methods: {
    totalAmount: t.totalAmount,
    title: t.title,
    formatAmount,
    logToConsole(tx) {
      // eslint-disable-next-line
      console.log(tx);
    },
    openContributionEditor(tx) {},
  },
};
</script>
<style lang="scss">
@import "@/assets/theme.scss";
@mixin center-content-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body {
  flex-grow: 1;
  padding-left: $gap;
  @include center-content-vertically;
}
.amount {
  @include center-content-vertically;
}
.paid {
  border-left-color: $green;
}
.merchant-logo {
  filter: saturate(0.8);
  object-fit: cover;
  border-radius: 4px;
}
.hidden {
  opacity: 0.4;
}
.tx {
  display: flex;
  justify-content: space-between;
}
.contribution {
  border-left: solid 4px rgb(51, 197, 70);
  padding-left: calc($gap/2);
}
</style>
