<template>
  <div class="filters">
    <div class="field" v-for="cat in categories" :key="cat">
      <label>
        {{ sentenceCase(cat) }}
        <input
          type="checkbox"
          v-model="filters.selectedCategories"
          :value="cat"
        />
      </label>
    </div>

    <label>
      Amount from
      <input name="amountFrom" v-model="filters.amountFrom" />
    </label>
    <label>
      Amount to
      <input name="amountTo" v-model="filters.amountTo" />
    </label>
    <PropertyFilter @select="(p) => (filters.property = p)" />
  </div>
</template>

<script>
import * as R from "ramda";
import debounce from "lodash.debounce";
import { sentenceCase } from "change-case";
import PropertyFilter from "@/components/PropertyFilter.vue";
export default {
  name: "TransactionFilters",
  components: {
    PropertyFilter,
  },
  data() {
    return {
      filters: {
        amountFrom: "",
        amountTo: "",
        selectedCategories: [],
        property: {},
      },
    };
  },
  computed: {
    categories() {
      return this.$store.state[this.$store.state.mode].categories;
    },
  },
  methods: {
    sentenceCase,
    setProperty(p) {
      this.filters.property = p;
    },
  },
  watch: {
    filters: {
      deep: true,
      handler(filters) {
        this.$store.commit("filters/SET", filters);
        this.$emit("filters-updated", filters);
      },
    },
  },
};
</script>

<style>
.filters {
  display: flex;
  flex-direction: column;
}
</style>
