<template>
  <div>
    <input
      type="text"
      placeholder="search for a transaction"
      v-model="searchTerm"
    />
    <ul class="results">
      <li v-for="tx in matchedTxs" :key="tx.id" @click.stop="selectTx(tx)">
        {{ title(tx) }}
      </li>
    </ul>
  </div>
</template>

<script>
import * as t from "@/lib/transaction";
export default {
  name: "TransactionSearch",
  inject: ["db"],
  data() {
    return {
      searchTerm: "",
      matchedTxs: [],
    };
  },
  watch: {
    async searchTerm(term) {
      this.matchedTxs = await this.db.transactions
        .where({ id: term })
        .toArray();
    },
  },
  methods: {
    title: t.title,
    selectTx(tx) {
      this.$emit("txSelected", tx);
    },
  },
};
</script>

<style></style>
