<template>
  <div id="app" class="container">
    <Suspense>
      <router-view />
    </Suspense>
  </div>
</template>

<style lang="scss">
@import "./assets/theme.scss";
@import "bulma/bulma.sass";

html {
  overflow-y: auto;
}

html,
body,
#app {
  height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: $weight-bold;
  line-height: 3rem;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}
</style>
